*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
}

main{
    background: grey;
    display: flex;
    justify-content:center;
    height: 100vh;
}

.datecontainer{
    border-top: 1rem solid red;
    margin-top: 2rem;
    height: 10rem;
    background: white;
    width: 10rem;
padding: 1.5rem;
padding-top: 0.5rem;
margin: 1rem;

}


