* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    background: grey;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

.datecontainer {
    border-top: 1rem solid red;
    margin-top: 2rem;
    height: 10rem;
    width: 10rem;
    background: white;
    text-align: center;
    padding-top: 0.5rem;
    margin: 1rem;

}

p{
    text-align: center;
}